.container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    border: 1px solid red;
    background-color: red;

    .logo{
        width: auto;
        height: 3rem;
    }

    .navbar-menu {
        padding: 0 .5rem;
    }
}